@import "../../assets/variables.scss";

.container {
  box-shadow: 0 0 20px #0000001a;
  background-color: $bg-secondary;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  overflow: hidden;

  .coins {
    width: 100%;
    background-color: $bg-secondary;

    thead {
      tr {
        text-align: right;

        th {
          padding: 10px 15px;
          border-bottom: 1px solid $light-grey;

          &:nth-child(1) {
            text-align: center;
            border-right: 1px solid $light-grey;
          }

          &:nth-child(2) {
            padding-left: 60px;
            text-align: left;
          }

          span {
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
    }

    tbody {
      tr {
        font-size: 16px;
        border: 1px solid $light-grey;

        &:hover {
          background-color: $bg-main;
        }

        td {
          padding: 10px 15px;
          text-align: right;
          border-bottom: 1px solid $light-grey;

          &:nth-child(1) {
            text-align: center;
            font-size: 12px;
            font-weight: 100;
            border-right: 1px solid $light-grey;
            padding: 10px 0;
            width: 60px;
          }

          &:nth-child(2) {
            text-align: left;
          }
        }

        .number_placeholder {
          display: grid;

          span {
            justify-self: flex-end;
            display: block;
            height: 18px;
            width: 70px;
            background-color: $light-grey;
          }
        }

        .name {
          display: grid;
          grid-template-columns: min-content 1fr;
          gap: 10px;
          align-items: center;

          .icon {
            height: 40px;
          }

          .names {
            display: flex;
            flex-direction: column;

            span:nth-child(2) {
              font-size: 12px;
              font-weight: 100;
            }
          }
        }

        .name_placeholder {
          display: grid;
          grid-template-columns: min-content 1fr;
          gap: 10px;
          align-items: center;

          .icon {
            background-color: $light-grey;
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }

          .names {
            display: flex;
            flex-direction: column;
            gap: 3px;

            span:nth-child(1) {
              height: 18px;
              width: 45px;
              background-color: $light-grey;
            }

            span:nth-child(2) {
              height: 14px;
              width: 60px;
              background-color: $light-grey;
            }
          }
        }
      }
    }
  }

  .load_more {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    button {
      padding: 15px 20px;
      background-color: $bg-main;
      border: 1px solid $light-grey;
      border-radius: 7px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
